{
	"rules": {
		"indentation": "tab",
		"max-nesting-depth": [
			2,
			{
				"ignoreAtRules": ["include"]
			}
		],

		"declaration-block-no-ignored-properties": true,
		"declaration-no-important": true,
		"selector-max-compound-selectors": 2,
		"selector-class-pattern": [
			"^(_)?[a-z]+-[a-z0-9-]+((_{2}|-{2})?[a-z0-9-]+)?(-{2}[a-z0-9-]+)?[a-z0-9]$",
			{
				"resolveNestedSelectors": true
			}
		],

		"at-rule-empty-line-before": [
			"always",
			{
				"except": ["blockless-after-same-name-blockless"],
				"ignore": ["after-comment"],
				"ignoreAtRules": ["import", "return", "warn", "elseif", "else"]
			}
		],
		"block-closing-brace-newline-after": [
			"always",
			{
				"ignoreAtRules": ["if", "else", "elseif"]
			}
		],
		"declaration-block-semicolon-newline-after": "always",
		"declaration-block-semicolon-newline-before": "never-multi-line",
		"declaration-colon-space-after": "always-single-line",
		"function-comma-newline-before": "never-multi-line",
		"function-comma-space-after": "always",
		"function-url-quotes": "always",
		"selector-attribute-quotes": "always",
		"string-quotes": "single",
		"stylelint-disable-reason": "always-before",

		"at-rule-no-vendor-prefix": true,
		"media-feature-name-no-vendor-prefix": true,
		"property-no-vendor-prefix": true,
		"selector-no-vendor-prefix": true,
		"value-no-vendor-prefix": true,
		"no-missing-end-of-source-newline": null,
		"selector-pseudo-element-colon-notation": "single",
		"no-eol-whitespace": [true, {
			"ignore": ["empty-lines"]
		}]
	}
}
