.o-btn {
	display: inline-block;
	padding: map-get($dimensions-map, button-padding);
	min-width: map-get($dimensions-map, button-min-width);
	color: map-get($colors-map, white);
	border-radius: map-get($dimensions-map, border-radius);
}

.o-btn--full {
	width: 100%;
}

.o-btn--large {
	padding: map-get($dimensions-map, button-padding-large);
}

.o-btn--primary {
	color: map-get($colors-map, white);
	background-color: map-get($colors-map, java);
	box-shadow: map-get($visual-enhancements-map, box-shadow-primary);
	text-decoration: none;
	font-weight: map-get($typography-map, medium-font-weight);
	background-image: url('../../_source/images/icons/right-arrow.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 90% 50%;

	&:hover,
	&:focus,
	&:active {
		color: map-get($colors-map, bondi-blue);
		background-color: map-get($colors-map, white);
		background-image: url('../../_source/images/icons/right-arrow-bondi-blue.svg');
	}
}

.o-btn--primary-inverted {
	color: map-get($colors-map, bondi-blue);
	background-color: map-get($colors-map, white);
	background-image: url('../../_source/images/icons/right-arrow-bondi-blue.svg');

	&:hover,
	&:focus,
	&:active {
		color: map-get($colors-map, white);
		background-color: map-get($colors-map, java);
		background-image: url('../../_source/images/icons/right-arrow.svg');
	}
}

.o-btn--secondary {
	color: map-get($colors-map, bondi-blue);
	background-color: map-get($colors-map, white);
	box-shadow: map-get($visual-enhancements-map, box-shadow-primary);
	text-decoration: none;
}

.o-btn--no-icon {
	background-image: none;
}
