.o-sidebar {
	padding-bottom: map-get($dimensions-map, base-spacing-unit);
	background-color: map-get($colors-map, white);
	border-radius: map-get($dimensions-map, border-radius);

	@include respond-to-max(get-breakpoint(x-large)) {
		overflow: hidden;
		margin-bottom: map-get($dimensions-map, base-spacing-unit);
	}

	li {
  	position: relative;
		list-style: none;

		a {
			display: inline-block;
			text-decoration: none;
			padding-top: map-get($dimensions-map, quarter-spacing-unit);
			padding-bottom: map-get($dimensions-map, quarter-spacing-unit);
			color: map-get($colors-map, default-text-color);

			&:hover {
				text-decoration: underline;
			}
		}
	}
	
  li:not(:first-child),
  .children {
		border-top: map-get($visual-enhancements-map, border-primary);
  }

	.widget_product_search {
		
		.o-sidebar__heading {
			margin-bottom: 0;
		}

		.woocommerce-product-search {
			position: relative;
		}

		label {
			@include visuallyhidden;
		}

		.search-field {
			margin-bottom: 0;
			width: 100%;
			border: 0;
			padding: map-get($dimensions-map, half-spacing-unit) 0;
			padding-right: 50px;
			outline: 0;
			-webkit-appearance: none;
		}

		input[type="submit"] {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	.o-sidebar__search-btn {
		position: absolute;
		top: 50%;
		right: 10px;
		padding: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		border: 0;
		outline: 0;
		min-height: 0;
		height: 24px;
		background-color: transparent;
		width: 24px;
		background-image: url('../../_source/images/icons/search-bondi-blue.svg');
		background-repeat: no-repeat;
	}

	.product-categories {
    margin: -#{map-get($dimensions-map, half-spacing-unit)};
		> li > a {
			font-weight: map-get($typography-map, bold-font-weight);
		}
    
    a {
      display: inline-block;
      padding: map-get($dimensions-map, half-spacing-unit);
      padding-right: 0;
    }
    
		.cat-item {
			cursor: pointer;

			&:hover,
			&:active,
			&:focus {
				
				> a {
					text-decoration: underline;
				}
			}
		}

		.children {
  		display: block;
			margin: 0;
			padding: 0;
			background-color: rgba(map-get($colors-map, mystic), .4);
      
      a {
        padding: map-get($dimensions-map, quarter-spacing-unit) map-get($dimensions-map, half-spacing-unit);
        padding-right: 0;
      }
		}

		.current-cat-parent > a,
		.current-cat > a {
			color: map-get($colors-map, bondi-blue);
		}

		.count {
			font-size: map-get($typography-map, s-font-size);
			opacity: .4;
		}
	}
}

.o-sidebar__section {
	padding: 0 map-get($dimensions-map, half-spacing-unit);
	
	@include respond-to-max(get-breakpoint(x-large)) {
		max-height: 200px;
		overflow: scroll;
	}
}

.o-sidebar__heading {
	margin-left: - map-get($dimensions-map, half-spacing-unit);
	margin-right: - map-get($dimensions-map, half-spacing-unit);
	margin-bottom: map-get($dimensions-map, half-spacing-unit);
	padding: map-get($dimensions-map, quarter-spacing-unit) map-get($dimensions-map, half-spacing-unit);
	color: map-get($colors-map, white);
	background-color: map-get($colors-map, blue-zodiac);
	font-size: map-get($typography-map, base-font-size);

	.o-sidebar__section:first-of-type & {
		border-radius: map-get($dimensions-map, border-radius) map-get($dimensions-map, border-radius) 0 0;
	}
}


// Indicator
.current-cat-parent,
.current-cat,
.current-cat-parent .cat-item,
.current-cat .children li { &:after {
  content: "";
  position: absolute;
  right: 0;
  width: 48px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/navigatedown.svg);
  background-position: center center; } }
  
.current-cat-parent:after { top: 24px; }
.current-cat:after { top: 22px; }

.current-cat-parent .cat-item:after,
.current-cat-parent .current-cat.cat-parent:after,
.current-cat .children li:after { top: 13px; }

.current-cat-parent .cat-item:after,
.current-cat .children li:after { transform: rotate(.75turn); }

/*
.current-cat-parent {
  background-position: right #{map-get($dimensions-map, half-spacing-unit)} top 26px; }
*/