.o-sidebar {
	padding-bottom: map-get($dimensions-map, base-spacing-unit);
	background-color: map-get($colors-map, white);
	border-radius: map-get($dimensions-map, border-radius);

	@include respond-to-max(get-breakpoint(x-large)) {
		overflow: hidden;
		margin-bottom: map-get($dimensions-map, base-spacing-unit);
	}

	li {
		list-style: none;
		border-bottom: map-get($visual-enhancements-map, border-primary);

		a {
			display: block;
			text-decoration: none;
			padding-top: map-get($dimensions-map, quarter-spacing-unit);
			padding-bottom: map-get($dimensions-map, quarter-spacing-unit);
			color: map-get($colors-map, default-text-color);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.widget_product_search {
		
		.o-sidebar__heading {
			margin-bottom: 0;
		}

		.woocommerce-product-search {
			position: relative;
		}

		label {
			@include visuallyhidden;
		}

		.search-field {
			margin-bottom: 0;
			width: 100%;
			border: 0;
			padding: map-get($dimensions-map, half-spacing-unit) 0;
			padding-right: 50px;
			outline: 0;
			-webkit-appearance: none;
		}

		input[type="submit"] {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}
	}

	.o-sidebar__search-btn {
		position: absolute;
		top: 50%;
		right: 10px;
		padding: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		border: 0;
		outline: 0;
		min-height: 0;
		height: 24px;
		background-color: transparent;
		width: 24px;
		background-image: url('../../_source/images/icons/search-bondi-blue.svg');
		background-repeat: no-repeat;
	}
}

.o-sidebar__section {
	padding: 0 map-get($dimensions-map, half-spacing-unit);
	
	@include respond-to-max(get-breakpoint(x-large)) {
		max-height: 200px;
		overflow: scroll;
	}
}

.o-sidebar__heading {
	margin-left: - map-get($dimensions-map, half-spacing-unit);
	margin-right: - map-get($dimensions-map, half-spacing-unit);
	margin-bottom: map-get($dimensions-map, half-spacing-unit);
	padding: map-get($dimensions-map, quarter-spacing-unit) map-get($dimensions-map, half-spacing-unit);
	color: map-get($colors-map, white);
	background-color: map-get($colors-map, blue-zodiac);
	font-size: map-get($typography-map, base-font-size);

	.o-sidebar__section:first-of-type & {
		border-radius: map-get($dimensions-map, border-radius) map-get($dimensions-map, border-radius) 0 0;
	}
}