// Constant absolute values
$colors-constant: (
	white: #fff, // developer not insane. This is here incase "white" needs to be a slight variation of pure white
	mystic: #e4edeb,
	blue-zodiac: #102540,
	bondi-blue: #00adb5,
	java: #1ACAB6,
	gold: #f0d000,
	raven: #707c8c
);

// Variable values using vlaues defined elsewhere
$colors-variable: (
	default-text-color: map-get($colors-constant, blue-zodiac),
	secondary-text-color: map-get($colors-constant, raven),
	brand-color-primary: map-get($colors-constant, bondi-blue)
);

$colors-map: map-merge($colors-constant, $colors-variable);
