// Constant absolute values
$dimensions-constant: (

	// Base
	base-spacing-unit: 40px,

	// Layout
	site-max-width: 1320px,

	// UI
	border-radius: 4px,
	border-radius-mega: 60px,
	button-padding: 15px 30px,
	button-padding-large: 20px 30px,
	button-min-width: 200px,
	border-horizontal-thickness: 1px
);

// Variable values using vlaues defined elsewhere
$dimensions-variable: (

	// Base
	half-spacing-unit: map-get($dimensions-constant, base-spacing-unit) /2,
	quarter-spacing-unit: map-get($dimensions-constant, base-spacing-unit) /4,
	third-spacing-unit: map-get($dimensions-constant, base-spacing-unit) /1.5,
	double-spacing-unit: map-get($dimensions-constant, base-spacing-unit) *2,

	// Grid
	grid-gutter-size: map-get($dimensions-constant, base-spacing-unit)
);

$dimensions-map: map-merge($dimensions-variable, $dimensions-constant);
