.homepage-hero {
	display: table;
	width: 100%;
	text-align: center;
	height: 600px;
	height: 100vh;
	background-image: url('../../_source/images/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 100%;

	.search {
		position: relative;
		width: 100%;
		max-width: 700px;
		margin-top: map-get($dimensions-map, quarter-spacing-unit);
		margin-left: auto;
		margin-right: auto;

		@include respond-to-min(get-breakpoint(small)) {
			margin-top: map-get($dimensions-map, base-spacing-unit);
		}
	}
	
	.sidebar {
  	@include respond-to-max(599px) {
  		padding-left: 5%;
  		padding-right: 5%;
    }
	}
	
	.search-input {
		padding: map-get($dimensions-map, base-spacing-unit)/2;
		border-radius: map-get($dimensions-map, border-radius-mega);
		border: 0;
		width: 100%;
		max-width: 700px;
		font-size: map-get($typography-map, l-font-size);
		-webkit-appearance: none;
    
    @include respond-to-max(599px) {
      margin-bottom: map-get($dimensions-map, base-spacing-unit)/2;
      font-size: 16px;
    }
    
    @include respond-to-min(600px) {
      padding: map-get($dimensions-map, base-spacing-unit);
      padding-right: 220px;
    }
    
		&:focus {
			border: 1px solid;
			outline: 0;
		}
	}

	.search-submit {
		-webkit-appearance: none;
		border: 0;
		border-radius: map-get($dimensions-map, border-radius-mega);
		background-color: map-get($colors-map, bondi-blue);
		color: map-get($colors-map, white);
		padding: map-get($dimensions-map, button-padding-large);
		
		@include respond-to-min(600px) {
  		position: absolute;
  		top: 50%;
  		transform: translateY(-50%);
  		right: map-get($dimensions-map, half-spacing-unit);
  		width: 180px;
  		height: 75%;
    }

		&:hover,
		&:active,
		&:focus {
			background-color: darken(map-get($colors-map, bondi-blue), 5%);
		}
	}
}

.homepage-hero__content {
	display: table-cell;
	vertical-align: middle;
	
	@include respond-to-max(get-breakpoint(small)) {
		padding-top: map-get($dimensions-map, half-spacing-unit);
	}
}

.homepage-hero__heading {
	font-size: 24px;
	font-weight: map-get($typography-map, bold-font-weight);
	
	@include respond-to-min(600px) {
    font-size: 48px;
  }
  
  @include respond-to-max(599px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.homepage-hero__subheading {
  font-size: 16px;
	
	@include respond-to-min(600px) {
    font-size: 24px;
  }
  
  @include respond-to-max(599px) {
    padding-left: 10%;
    padding-right: 10%;
  }
}