.c-course-detail-box {
	position: relative;
	width: 100%;
	margin-bottom: map-get($dimensions-map, base-spacing-unit);
	background-color: map-get($colors-map, white);
	border-radius: map-get($dimensions-map, border-radius);
	box-shadow: map-get($visual-enhancements-map, box-shadow-primary);

	@include respond-to-max(get-breakpoint(small)) {
		padding: map-get($dimensions-map, half-spacing-unit);
	}
}

.c-course-detail-box__name {
	width: 65%;
	margin-top: map-get($dimensions-map, half-spacing-unit);
	font-size: map-get($typography-map, l-font-size);
}

.c-course-detail-box__location {
	width: 65%;
	margin-top: 0;
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	color: map-get($colors-map, secondary-text-color);
	font-size: map-get($typography-map, base-font-size);
}

.c-course-detail-box__image {
	display: block;
	width: 100%;
	border-radius: map-get($dimensions-map, border-radius) 0 0 map-get($dimensions-map, border-radius);
}

.c-course-detail-box__average-review-stars {
	position: absolute;
	top: map-get($dimensions-map, half-spacing-unit);
	right: map-get($dimensions-map, base-spacing-unit);
}

.c-course-detail-box__average-review-stars-text {
	text-align: right;
}

.c-course-detail-box__key-features {
	padding-top: map-get($dimensions-map, half-spacing-unit);
	padding-bottom: map-get($dimensions-map, half-spacing-unit);
	margin-top: map-get($dimensions-map, quarter-spacing-unit);
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	border-top: map-get($visual-enhancements-map, border-primary);
	border-bottom: map-get($visual-enhancements-map, border-primary);

	@include respond-to-min(get-breakpoint(small)) {
		margin-right: map-get($dimensions-map, base-spacing-unit);
	}
}

.c-course-detail-box__key-feature {
	display: inline-block;
	margin: 0;
}

.c-course-detail-box__key-info {
	margin-right: map-get($dimensions-map, base-spacing-unit);

	@supports (display: flex) {
		display: flex;
		justify-content: space-between;
	}
}

.c-course-detail-box__key-info-item {
	display: inline-block;
}

.c-course-detail-box__key-info-description {
	color: map-get($colors-map, raven);
}

.c-course-detail__ctas {
	
	@include respond-to-max(get-breakpoint(large)) {
		position: fixed;
		left: 0;
		width: 100%;
		bottom: 0;
		display: flex;
		z-index: 2;
		padding: map-get($dimensions-map, quarter-spacing-unit);
		background-color: map-get($colors-map, white);
		box-shadow: map-get($visual-enhancements-map, box-shadow-primary);
	}

	@include respond-to-max(get-breakpoint(med)) {
		flex-wrap: wrap;
		transition: max-height 0.6s;
	}

	&.is_stuck {
		z-index: map-get($z-index-map, course-detail-ctas);
	}
}

.c-course-detail__cta {

	@media (min-width: map-get($breakpoints-map, med)) and (max-width: map-get($breakpoints-map, large)) {
		align-self: center;
		
		&:not(:last-of-type) {
			margin-right: map-get($dimensions-map, quarter-spacing-unit);
		}
	}

	@include respond-to-min(get-breakpoint(large)) {
		margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	}

	@include respond-to-max(get-breakpoint(med)) {
		margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	}
}

.c-course-detail-box__key-features {
	font-size: 0;
}

.c-course-detail-box__key-feature {
	font-size: 16px;
	font-size: 1rem;
	display: inline-block;
	width: 33.33%;

	@include respond-to-max(get-breakpoint(large)) {
		text-align: center;
	}
}

.c-course-detail-box__key-feature-icon {
	display: inline-block;
	margin-right: map-get($dimensions-map, half-spacing-unit);
	width: 35px;
	height: 35px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;

	@include respond-to-max(get-breakpoint(large)) {
		display: block;
		margin: 0 auto 5px;
		background-position: 50%;
	}
}

.c-course-detail-box__key-feature-inner {
	display: inline-block;
	vertical-align: middle;
}

.c-course-detail-box__key-feature-heading {
	font-size: map-get($typography-map, base-font-size);
	color: map-get($colors-map, raven);
	line-height: 1;
	margin-bottom: 5px;
}

.c-course-detail-box__key-feature-value {
	font-size: map-get($typography-map, l-font-size);
	line-height: 1;
}

.c-course-detail-box__key-feature--holes .c-course-detail-box__key-feature-icon {
	background-image: url('../../_source/images/icons/tee.svg');
}

.c-course-detail-box__key-feature--par .c-course-detail-box__key-feature-icon {
	background-image: url('../../_source/images/icons/putter-and-ball.svg');
}

.c-course-detail-box__key-feature--length .c-course-detail-box__key-feature-icon {
	background-image: url('../../_source/images/icons/map.svg');
}