.c-reviews-average-stars {
	display: inline-block;
	position: relative;
	color: map-get($colors-map, mystic);
}

.c-reviews-average-stars__active-stars,
.c-reviews-average-stars__inactive-stars {
	font-size: 0;

	> span {
		font-size: 1.4rem;
	}
}

.c-reviews-average-stars__active-stars {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	color: map-get($colors-map, gold);
}