.c-masthead {
	padding-top: map-get($dimensions-map, half-spacing-unit);
	padding-bottom: map-get($dimensions-map, half-spacing-unit);
	background-color: map-get($colors-map, blue-zodiac);
	
  @include respond-to-min(600px) {
    padding-top: map-get($dimensions-map, half-spacing-unit) *1.5;
    padding-bottom: map-get($dimensions-map, half-spacing-unit) *1.5;
  }
  
  @include respond-to-max(599px) {
    img {
      max-width: 120px;
      margin: auto;
    }
  }
}

.c-masthead--overlaid {
	background-color: transparent;
	position: absolute;
	width: 100%;
}

.c-masthead__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}