.c-footer {
	margin-top: 0;
	padding-top: map-get($dimensions-map, double-spacing-unit);
	padding-bottom: map-get($dimensions-map, double-spacing-unit);
	background-color: map-get($colors-map, blue-zodiac);
}

.c-footer__copy {
	color: map-get($colors-map, bondi-blue);
	font-weight: map-get($typography-map, bold-font-weight);
}