.c-reviews-average-stars {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	position: relative;
	color: map-get($colors-map, mystic);

	.c-reviews__breakdown-of-ratings-spread-item & {
		margin-right: map-get($dimensions-map, quarter-spacing-unit);
		text-align: left;
		white-space: nowrap;
	}
}

.c-reviews-average-stars__active-stars,
.c-reviews-average-stars__inactive-stars {

	> img {
		width: map-get($dimensions-map, star-default);		
	}

	.c-reviews__breakdown-of-ratings-spread-item & {

		> img {
			width: map-get($dimensions-map, star-small);
		}
	}
}

.c-reviews-average-stars__active-stars {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	color: map-get($colors-map, gold);
}