.c-course-detail-box {
	position: relative;
	width: 100%;
	margin-bottom: map-get($dimensions-map, base-spacing-unit);
	background-color: map-get($colors-map, white);
	border-radius: map-get($dimensions-map, border-radius);
	box-shadow: map-get($visual-enhancements-map, box-shadow-primary);
}

.c-course-detail-box__name {
	width: 65%;
	margin-top: map-get($dimensions-map, half-spacing-unit);
	font-size: map-get($typography-map, l-font-size);
}

.c-course-detail-box__location {
	width: 65%;
	margin-top: 0;
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	color: map-get($colors-map, secondary-text-color);
	font-size: map-get($typography-map, base-font-size);
}

.c-course-detail-box__image {
	display: block;
	width: 100%;
	border-radius: map-get($dimensions-map, border-radius) 0 0 map-get($dimensions-map, border-radius);
}

.c-course-detail-box__average-review-stars {
	display: inline-block;
	position: absolute;
	top: map-get($dimensions-map, half-spacing-unit);
	right: map-get($dimensions-map, base-spacing-unit);
	color: map-get($colors-map, mystic);
}

.c-course-detail-box__average-review-active-stars,
.c-course-detail-box__average-review-inactive-stars {
	font-size: 0;

	> span {
		font-size: 1.4rem;
	}
}

.c-course-detail-box__average-review-active-stars {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	color: map-get($colors-map, gold);
}

.c-course-detail-box__key-features {
	padding-top: map-get($dimensions-map, half-spacing-unit);
	padding-bottom: map-get($dimensions-map, half-spacing-unit);
	margin-right: map-get($dimensions-map, base-spacing-unit);
	margin-top: map-get($dimensions-map, quarter-spacing-unit);
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	border-top: map-get($visual-enhancements-map, border-primary);
	border-bottom: map-get($visual-enhancements-map, border-primary);
}

.c-course-detail-box__key-feature {
	display: inline-block;
	margin: 0;
}

.c-course-detail-box__key-info {
	margin-right: map-get($dimensions-map, base-spacing-unit);

	@supports (display: flex) {
		display: flex;
		justify-content: space-between;
	}
}

.c-course-detail-box__key-info-item {
	display: inline-block;
}

.c-course-detail-box__key-info-description {
	color: map-get($colors-map, raven);
}

.c-course-detail__ctas {
	
	@include respond-to-max(get-breakpoint(large)) {
		position: fixed;
		left: 0;
		width: 100%;
		bottom: 0;
		display: flex;
		margin-bottom: map-get($dimensions-map, base-spacing-unit);
	}
}

.c-course-detail__cta {
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);

	@include respond-to-max(get-breakpoint(large)) {
		background-position-x: 95%;
		align-self: center;

		&:not(:last-of-type) {
			margin-right: map-get($dimensions-map, quarter-spacing-unit);
		}
	}
}

.c-course-detail-box__key-features {
	font-size: 0;
}

.c-course-detail-box__key-feature {
	font-size: 16px;
	font-size: 1rem;
	display:inline-block;
	width: 33.33%;
}

.c-course-detail-box__key-feature-icon {
	display: inline-block;
	margin-right: map-get($dimensions-map, half-spacing-unit);
	width: 35px;
	height: 35px;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.c-course-detail-box__key-feature-inner {
	display: inline-block;
	vertical-align: middle;
}

.c-course-detail-box__key-feature-heading {
	font-size: map-get($typography-map, base-font-size);
	color: map-get($colors-map, raven);
	line-height: 1;
	margin-bottom: 5px;
}

.c-course-detail-box__key-feature-value {
	font-size: map-get($typography-map, l-font-size);
	line-height: 1;
}

.c-course-detail-box__key-feature--holes .c-course-detail-box__key-feature-icon {
	background-image: url('../../_source/images/icons/tee.svg');
}

.c-course-detail-box__key-feature--par .c-course-detail-box__key-feature-icon {
	background-image: url('../../_source/images/icons/putter-and-ball.svg');
}

.c-course-detail-box__key-feature--length .c-course-detail-box__key-feature-icon {
	background-image: url('../../_source/images/icons/map.svg');
}