.c-course-result-item {
	position: relative;
	width: 100%;
	margin-bottom: map-get($dimensions-map, base-spacing-unit);
	background-color: map-get($colors-map, white);
	border-radius: map-get($dimensions-map, border-radius);
	box-shadow: map-get($visual-enhancements-map, box-shadow-primary);
}

.c-course-result-item__name {
	width: 65%;
	margin-top: map-get($dimensions-map, half-spacing-unit);
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	font-size: map-get($typography-map, l-font-size);
}

.c-course-result-item__location {
	width: 65%;
	margin-top: 0;
	margin-bottom: map-get($dimensions-map, quarter-spacing-unit);
	color: map-get($colors-map, secondary-text-color);
	font-size: map-get($typography-map, base-font-size);
}

.c-course-result-item__image {
	display: block;
	width: 100%;
	border-radius: map-get($dimensions-map, border-radius) 0 0 map-get($dimensions-map, border-radius);
}

.c-course-result-item__cta {
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: map-get($dimensions-map, border-radius) 0 0 0;
	// TODO
	background-image: url('../../_source/images/icons/right-arrow.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 85% 50%;
	text-align: center;
}

.c-course-result-item__average-review-stars {
	display: inline-block;
	position: absolute;
	top: map-get($dimensions-map, half-spacing-unit);
	right: map-get($dimensions-map, base-spacing-unit);
	color: map-get($colors-map, mystic);
}

.c-course-result-item__average-review-active-stars,
.c-course-result-item__average-review-inactive-stars {
	font-size: 0;

	> span {
		font-size: 1.4rem;
	}
}

.c-course-result-item__average-review-active-stars {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	overflow: hidden;
	color: map-get($colors-map, gold);
}
