.c-footer {
	margin-top: map-get($dimensions-map, double-spacing-unit);
	padding-top: map-get($dimensions-map, double-spacing-unit);
	padding-bottom: map-get($dimensions-map, double-spacing-unit);
	background-color: map-get($colors-map, blue-zodiac);
}

.c-footer--no-margin {
	margin-top: 0;
}